# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Flask instance folder
instance/

# Environment variables
.env

# VS Code settings (tuỳ chọn)
.vscode/

# OS files
.DS_Store
Thumbs.db